@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
body.container-fluid {
  font: 14px 'Righteous', cursive;
  color: #008000;
}
li.nav-item.nav-link {
  background-color: #008000;
  margin: 15px;
  border-radius: 20px;
}
li.nav-item.nav-link:hover {
  width: 15%;
  background-color: #90ee90;
}
li.nav-item.nav-link.active {
  color: #008000;
  background-color: #90ee90;
}
a {
  color: #fff;
}
a:visited {
  color: #fff;
}
/** End of Header page */
.backlink {
  color: #008000;
}
.backlink:visited {
  color: #008000;
}
.header {
  font: bolder;
}
#formPic {
  height: 75%;
  width: 75%;
}
/* End of Admin Login */
#cleanOffice {
  margin-left: 25%;
  background-color: #008000;
  color: #fff;
}
#cleanOffice:hover {
  background-color: #90ee90;
}
#cleanResidence {
  margin-left: 25%;
  background-color: #008000;
  color: #fff;
}
#cleanResidence:hover {
  background-color: #90ee90;
}
.officeSpace {
  height: 75%;
  width: 75%;
}
#message {
  background-color: #008000;
  color: #f5f5f5;
  border: 10px double #f5f5f5;
  padding: 5px;
}
p {
  text-align: justify;
}
.images {
  height: 150px;
  width: 150px;
}
.row.row.center {
  text-align: center;
}
#serviceMsg {
  border-radius: 20px;
  background-color: #008000;
  color: #fff;
  padding: 7px;
  text-align: center;
}
#resServiceMsg {
  border-radius: 20px;
  background-color: #008000;
  color: #fff;
  padding: 7px;
  text-align: center;
}
/** End of Services page */
#userMsg {
  color: #f00;
}
/** End of admin login page */
#RBStyle {
  border: 4px double #008000;
  border-radius: 5px;
  padding: 3%;
}
#styleRadioBtns {
  margin-left: 50%;
}
.col-3.thinking:hover {
  background-color: #90ee90;
}
button.btn {
  background-color: #008000;
  border-radius: 20px;
  color: #fff;
}
button.btn:hover {
  background-color: #90ee90;
}
input.btn {
  background-color: #008000;
  border-radius: 20px;
  color: #fff;
}
input.btn:hover {
  background-color: #90ee90;
}
#hidden {
  width: 75%;
  margin-left: 15%;
  padding: 5%;
  border: double 6px #008000;
  border-radius: 5px;
}
.formDesign {
  width: 50%;
  margin-left: 25%;
  padding: 5%;
  border: double 6px #008000;
  border-radius: 5px;
}
.form-control:hover {
  border-color: #008000;
}
.requestForm {
  width: 100%;
  padding: 5%;
  border: double 6px #008000;
  border-radius: 5px;
}
#designReg {
  border: double 6px #008000;
  border-radius: 5px;
  padding: 5%;
}
.custName {
  float: right;
}
.justify {
  text-align: justify;
}
.carouselPic {
  height: 500px;
  width: 1000px;
  border-radius: 5px;
}
.styleCirc {
  background-color: #008000;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: inline-block;
  margin: 50px;
  padding-top: 100px;
  font-variant: annotation;
}
.styleCirc:hover {
  border: 5px double #fff;
}
.parallax {
  background-image: url("../images/cleaning1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  background-image: url("../images/cleaning7.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  background-image: url("../images/CleaningIcons2.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galleryPic {
  height: 450px;
  width: 450px;
  border-radius: 4px;
}
.feedback {
  border: 5px double #008000;
  border-radius: 4px;
  font-style: italic;
  padding: 5px;
}
.profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
#footer {
  text-align: center;
  background-color: #008000;
  color: #f5f5f5;
  border: 10px double #f5f5f5;
}
