@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap')

body.container-fluid
    font: 14px 'Righteous', cursive
    color: green 

li.nav-item.nav-link
    background-color: green
    margin: 15px
    border-radius: 20px

li.nav-item.nav-link:hover
    width: 15%
    background-color: lightgreen 

li.nav-item.nav-link.active
    color: green
    background-color: lightgreen 

a
    color: white

a:visited 
    color: white    

/** End of Header page */

.backlink
    color: green

.backlink:visited
    color: green     

.header
    font: bolder
    
#formPic
    height: 75%
    width: 75%

/* End of Admin Login */

#cleanOffice
    margin-left: 25%
    background-color: green 
    color: white

#cleanOffice:hover
    background-color: lightgreen 

#cleanResidence
    margin-left: 25%
    background-color: green 
    color: white

#cleanResidence:hover
    background-color: lightgreen 

.officeSpace
    height: 75%
    width: 75%


#message
    background-color: green 
    color: whitesmoke 
    border: 10px double whitesmoke 
    padding 5px 

p
    text-align: justify

.images
    height 150px
    width 150px

.row.row.center
    text-align: center

#serviceMsg
    //border: 4px ridge white
    border-radius: 20px
    background-color: green 
    color white
    padding: 7px
    text-align: center

#resServiceMsg
    //border: 4px ridge white
    border-radius: 20px
    background-color: green
    color white 
    padding: 7px
    text-align: center

/** End of Services page */

#userMsg
    color red 
/** End of admin login page */

#RBStyle  
    border: 4px double green 
    border-radius: 5px
    padding: 3%
    
#styleRadioBtns
    margin-left: 50%

.col-3.thinking:hover
    background-color: lightgreen 

button.btn
    background-color: green
    border-radius: 20px
    color: white

button.btn:hover
    background-color: lightgreen

input.btn
    background-color: green
    border-radius: 20px
    color: white

input.btn:hover
    background-color: lightgreen 

#hidden
    width: 75%
    margin-left: 15%
    padding: 5%
    border: double 6px green 
    border-radius: 5px

.formDesign
    width: 50%
    margin-left: 25%
    padding: 5%
    border: double 6px green 
    border-radius: 5px

.form-control:hover
    border-color: green

.requestForm
    width: 100%
    padding: 5%
    border: double 6px green 
    border-radius: 5px

#designReg
    border: double 6px green 
    border-radius: 5px
    padding: 5%

.custName
    float: right 

.justify
    text-align: justify

.carouselPic
    height: 500px
    width: 1000px
    border-radius: 5px

.styleCirc
    background-color: green
    height: 250px
    width: 250px
    border-radius: 50%
    display:inline-block
    margin: 50px
    padding-top: 100px
    font-variant: annotation 

.styleCirc:hover
    border: 5px double white

.parallax
    background-image: url('../images/cleaning1.jpg')
    height: 100%
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover 

.parallax2
    background-image: url('../images/cleaning7.jpg')
    height: 100%
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover   

.parallax3
    background-image: url('../images/CleaningIcons2.jpg')
    height: 100%
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover 

.galleryPic
    height: 450px
    width: 450px
    border-radius: 4px

.feedback
    border: 5px double green
    border-radius: 4px
    font-style: italic
    padding: 5px

.profile
    border-radius: 50%
    height: 100px
    width: 100px


#footer
    text-align: center
    background-color: green 
    color: whitesmoke 
    border: 10px double whitesmoke 

