body 
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a:select
    color: purple  


li.nav-item.nav-link.active
    color: green 
    background-color: whitesmoke 

li.nav-item.nav-link.active:hover
    background-color: green  
    color: whitesmoke  

/** End of Header page */

.menuItem:hover
    font-style: italic
    font-size: larger

.header
    font: bolder

.formStyle
    width: 50%

#formPic
    height: 75%
    width: 75%

#message
    background-color: green 
    color: whitesmoke 
    border: 10px double whitesmoke 
    padding 5px 

p
    text-align: justify

.images
    height 150px
    width 150px

.row.row.center
    text-align: center

#serviceMsg
    border: 4px ridge green
    color green 
    padding: 7px
    text-align: justify

#resServiceMsg
    border: 4px ridge green
    color green 
    padding: 7px
    text-align: justify

/** End of Services page */

#userMsg
    color red 
/** End of admin login page */

#RBStyle  
    border: 1px solid green 
    border-radius: 5px
    padding: 3%
    

.btns
    background-color: green 

.custName
    float: right 

.justify
    text-align: justify

#footer
    text-align: center
    background-color: green 
    color: whitesmoke 
    border: 10px double whitesmoke 

