//- Gallery page

extends layout
block content
    .container 
        .row 
            h4 Before &amp; After
            .col 
            .col 
        .row
            h4 Coming soon... 