//-Admin success

extends layout
block content
    a(href='/viewCustomRequests') View Custom Requests
    br
    a(href='/viewStandardRequests') View Standard Requests
    br
    a(href='/viewRegisteredUsers') View Registered Users 
    br  
    a(href='/adminLogin') Back  