extends layout

block content
  .row
    .col-lg-12.text-center.tab-content
      h3.formheading=message
      a(href=linked)
        h3 Try again.
  //h1= message
  //h2= error.status
  //pre #{error.stack}
