//-Admin success

extends layout
block content
    .container
        .row
            .col-10
                img(src='./images/officeSpace.jpg').img-thumbnail.officeSpace
            .col-2
                a(href='/viewCustomRequests').menuItem View Custom Requests
                hr
                a(href='/viewStandardRequests').menuItem View Standard Requests
                hr
                a(href='/viewRegisteredUsers').menuItem View Registered Users 
        .text-right
            a(href='/adminLogin') Back  