//-Testimonials/Feedback

extends layout
block content
    h4 Testimonials 
    .container
        each ts in test
            .row 
                .col "#{ts.testimonial}"
                br
            .row.text-right.custName 
                .col -#{ts.custName}
            br 
            hr  