//- Leave feedback/testimonial

extends layout
block content
    .container
        h4.text-center Leave Feedback Here
        br
        form.requestForm(action='/savingFeedback', method='post').form-group
            .row
                .col 
                    label Name: 
                    input(type='text' name='custName' required).form-control
            .row
                .col    
                    label Feedback:
                    br
                    textarea(cols='20' rows='4' name='testimonial' required).form-control
            .row
                .col.text-center
                    br
                    input(type='submit' value='Send Feedback' style='width: 50%').button.btn
        //- .row
        //-     .col.text-right
        //-         a(href='/loginSuccess').backlink Back