//- Login Success 

extends layout
block content
    h4.text-center Welcome #{userName}!
    .container
        .row
            .col-2
                //- Request new services
                a(href='/Quote').backlink Request New Service(s)
                hr
                a(href='/viewPastServices').menuItem.backlink View Past Services
                hr
                a(href='/viewUpcomingServices').menuItem.backlink View Upcoming Services
                hr
                a(href='/leaveFeedback').menuItem.backlink Leave Feedback
        .row
            .col.text-right
                a(href='/').backlink Logout