//- Login.pug

extends layout
block content
    h4.text-center #{message}
    .container
        form.formDesign(action='loginSuccess' method='post').form-group
            .row
                .col
                    Label Username:
                    br
                    input(type='text' name='username' required).form-control
            .row
                .col
                    Label Password:
                    br 
                    input(type='password' name='password' required).form-control
            .row
                .col
                    input(type='submit' value='Submit').btn.form-control 
        br
        .row
            .col.text-right
                a(href='/').backlink Back