//-Saved custom request

extends layout 
block content
    .container.text-center
        h4 Thank you!! Your custom request has been submitted!! Please allow one business day for a follow up phone call to confirm your request.
        .text-right
            a(href='/Quote') Back 