//-Saved custom request

extends layout 
block content
    h6 Your custom request has been submitted!! Please allow one business day for a follow up phone call to confirm your request.
    a(href='/Quote') Back 