//- Saving registered users

extends layout
block content
    h4 Your registration has been saved. You will now be redirected to the login page.
    script
        |window.setTimeout(function(){location.assign('/login')}, 4000);