//- Saving standard request

extends layout
block content 
    .container.text-center
        h4 Thank you!! Your standard request has been received! Please allow one business day for a follow up phone call.
        .text-right
            a(href='/Quote') Back