//- Display all custom requests

extends layout 
block content
    .container
        h4.text-center Custom Requests
        each cr in custReq
            |Name: #{cr.name}
            br
            |Email: #{cr.email}
            br 
            |Phone: #{cr.phone}
            hr
        .text-right
            a(href='/adminSuccess') Back 