//- Display all custom requests

extends layout 
block content
    .container
        h4.text-center Custom Requests
        table.table.table-striped.table-boredered
            tr
                th Name
                th Email
                th Phone
            each cr in custReq
                tr 
                    td #{cr.name}
                    td #{cr.email}
                    td #{cr.phone}
        .text-right
            a(href='/adminSuccess') Back 